PORT=3001
NODE_ENV=development


DATABASE_URL=postgresql://
neondb_owner:npg_6WNxzQMCPDI1@ep-noisy-dust-b3dnozxn-pooler.c-4.
ap-southeast-1.aws.neon.tech/neondb?sslmode=require&
channel_binding=require

CLERK_PUBLISHABLE_KEY=pk_test_ZmFpdGhmdWwtbGlnZXItNzIxOC5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_kQjvB3lmdwOPYagqTFFvksAyWraT2eIqbYlytEvLLr

SENTAR_DSN="https://8943bdc3f9b0939e6e1de6dbda7323ac@o4512147265486848.ingest.us.sentry.io/4512147304415232",



STREAM_AP_KEY=62nsd8gpkrts
STREAM_SEC_KEY=rz9xydwdm5wykckzkfbtp5bj7kwptfqu66q2eajjyy495efg8kawamqgxt3bba5n



IMAGEKIT_API_KEY=public_lJMm/Ws61VU8h0RKZ7eueloKw14=
IMAGEKIT_PRIVATE_KEY=private_oNCsIwGqeCH14VQLjdibQTueZos=
IMAGKIT_URL_ENDPOINT=https://ik.imagekit.io/8swsvv5g7